$shadow_nav: 0 0 10px rgba(0,0,0,.5);

body {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
    .navbar {
        .in_drop{
            display: none;
        }
    }
}
@media (max-width: 576px) {
    .banner {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.header {
    .header-navbar {
        padding-bottom: 56px;
        .navbar {
            box-shadow: $shadow_nav;
        }
    }
}

.banner {
    .banner_img {
        position: relative;
        img {
            max-width: 100%;
        }
    }
    .in_banner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,.7);
        h1, p {
            color: #fff;
            text-align: center;
            margin-top: 2em;
        }
    }
}


.dynamic {
    .container {
        padding-top: 2em;
    }
    h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
}

.footer {
    box-shadow: $shadow_nav;
    .nav {
        padding-left: 0.75rem;
        hr {
            margin: 0.5em 0;
        }
    }
    img {
        margin-right: 1em;
        width: 2rem;
    }
    h5 {
        text-align: center;
        margin-top: 0.75em;
    }
    a {
        color: #000;
        font-size: 1.25em;
        text-decoration: none;
        margin-top: 0.75em;
    }
    p {
        margin-bottom: 0;
        padding-bottom: 1em;
        text-align: center;
    }
}

.in_drop {
    padding-bottom: 1em;
    p {
        font-size: 2rem;
        text-align: center;
    }
    .phone {
//         display: flex;
//         justify-content: center;
    }
    .meseng {
        display: flex;
        justify-content: space-between;
    }

    img {
        margin-right: 1rem;
        width: 2rem;
    }

    a {
        color: #000;
        font-size: 1.25em;
        text-decoration: none;
        margin-top: 0.75em;
    }
}

