$shadow_nav: 0 0 5px rgba(0,0,0,.5);

$white: #fff;
$black: #000;


$minty: #78c2ad;
$teal: #20c997;
$cyan: #6cc3d5;
$green: #59ab6e;

$d_dark_grey: #c4c4c4;
$dark_grey: #cccccc;
$midl_grey: #D7D8D2;
$d_light_grey: #eeeeee;
$light_grey: #f0f0f0;
$white_grey: #f2f2f2;

$font: $black;
$bg_color: $white;

$accent: $minty;
$border: $d_dark_grey;

$navbar: $accent;
$navbar_collapse: $d_light_grey;
$footer: $d_light_grey;





body {
    font-family: 'Roboto', sans-serif;
    color: $font;
    font-size: 18px;
    }

@media (min-width: 768px) {
    body {
        font-size: 16px;
        }
    .navbar {
        .in_drop{
            display: none;
            }
        }
    .item {
        padding-top: 1.5em;
        .item_photo{
            #detail {
                border: 1px solid $border;
                }
            }
        .item_info {
            h1 {
                text-align: justify;
                padding: 0 0 1rem 0;
                }
            }
        }
    }

@media (max-width: 767px) {
    .header .header-navbar .navbar .navbar-collapse {
        margin: 0.5rem -0.75rem 1.5rem;
        background-color: $navbar_collapse;
        .navbar-nav {
            padding: 0 1.25rem;
            .nav-item {
                font-size: 1.25em;
                border-bottom: 1px solid #c4c4c4;
                }
            }
        }
    .item_photo {
        border-bottom: 1px solid $border;
        padding: 0;
        }
    }

@media (max-width: 576px) {
    .header .header-navbar .navbar .navbar-collapse {
        margin: 0.5rem -0.75rem -0.5rem;
        }
    .banner .container {
        padding-left: 0;
        padding-right: 0;
        }
    .item .container {
        padding-left: 0;
        padding-right: 0;
        .row {
            margin: 0;
            .item_photo {
                padding: 0;
                }
            }
        }
    }



.header {
    .header-navbar {
        padding-bottom: 56px;
        .navbar {
            background-color: $navbar;
            box-shadow: $shadow_nav;
            .navbar-brand{
                padding: 0;
                font-size: 1.5em;
                color: $black;
                }
            .navbar-collapse {
//                 background-color: $navbar_collapse;
//                 margin: 0.5rem -0.75rem -0.5rem;
                .navbar-nav {
                    padding: 0 1.25rem;
                    .nav-item {
                        font-size: 1.25em;
//                         border-bottom: 1px solid $border;
                        .dropdown-menu.show {
                            margin-bottom: 1rem;
                            font-size: 1em;
                            }
                        }
                    }
                .in_drop {
                    padding: 1.25em;
//                     padding-bottom: 1em;
                    p {
                        font-size: 1.15em;
                        text-align: center;
                        }
                    .phone {
                //         display: flex;
                //         justify-content: center;
                        }
                    .meseng {
                        display: flex;
                        flex-direction: column;
                        margin-left: 2.25rem;

//                         justify-content: space-between;
                        }
                    img {
                        margin-right: 1rem;
                        width: 1.75em;
                        }
                    a {
                        color: #000;
                        font-size: 1.25em;
                        text-decoration: none;
                        margin-top: 0.75rem;
                        }
                    }
                }
            }
        }
    }

.banner {
    .banner_img {
        position: relative;
        img {
            max-width: 100%;
        }
    }
    .in_banner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1, h2, p {
            color: $white;
            opacity: 0.85;
            margin-top: 1rem;
            margin-left: 0.75rem;
            font-size: 1.25em;

        }
    }
}


.dynamic {
    .container {
//         padding-top: 2em;
        }
    p {
        text-align: justify;
        margin: 0;
        padding-top: 1rem;
        }
    .item_card {
        margin-top: 1rem;
        .card{
            background-color: $light_grey;
            border-radius: 0;
            }
            a img {
                border-radius: 0;
                }
            .card-body {
                .card-title {
                    border-bottom: 1px solid $border;
                    padding-bottom: 1rem;
                    margin: 0;
                    }
                .but {
                    padding-top: 1rem;
                    display: flex;
                    justify-content: space-between;
                    .btn {
                        border-radius: 0;
                        }
                    .btn_detail {
                        color: #000;
                        background-color: $accent;
                        border-color: $accent;
                        }
                    }
                }
            }
}


.item {
    .container{
//         padding: 0;
        }

    h1 {
        font-size: 1.25em;
        text-align: center;
        border-bottom: 1px solid $border;
        padding: 1rem 0;
        margin: 0;
        }
    table {
        border-collapse: separate;
        border-spacing: 1rem;
        width: 100%;
        }
    .item_info{
        padding: 0 0.75rem;
        border-bottom: 1px solid $border;
        .btn_icon{
            font-size: 1.25em;
            border: 3px solid #78c2ad;
            border-radius: 1rem;
            background: $light_grey;
            text-align: center;
            padding: 0.75rem;
//             margin-top: 1rem;
            }
        .btn_text{
            font-size: 1em;
            text-align: center;
            }
        .btn_space {
//             width: 1.5rem;
            }
        }
    .item_content {
        padding: 1rem;
        font-size: 1em;
        text-align: justify;
        }
}

//=============== FOOTER =================//

.footer {
    box-shadow: $shadow_nav;
    background-color: $footer;
    margin-top: 1.5rem;
    .nav {
        padding-left: 0.75rem;
        hr {
            margin: 0.5em 0;
        }
    }
    img {
        margin-right: 1em;
        width: 1.75em;
    }
    h5 {
        font-size: 1.1em;
        text-align: center;
        padding: 0.75rem 0;
        border-bottom: 1px solid $border;
    }
    a {
        color: $black;
        font-size: 1.1em;
        text-decoration: none;
        margin-top: 0.75em;
    }
    p {
        margin-bottom: 0;
        padding-bottom: 1em;
        text-align: center;
    }
}

/* ########################## */

#detail .product-images li, #detail .product-images figure, #detail .product-images a, #detail .product-images img {
  display: block;
  outline: none;
  border: none;
}
#detail .product-images .main-img-slider figure {
  margin: 0 auto;
  padding: 0 2em;
}
#detail .product-images .main-img-slider figure a {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
#detail .product-images .main-img-slider figure a img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#detail {
    .product-images {
//         width: 100%;
//         margin: 0 auto;
//         border:1px solid #eee; FOR MOBILE
        .main-img-slider.slick-slider {

        }
        .thumb-nav.slick-slider {
//             border-top: 1px solid $border;
//             border-bottom: 1px solid $border;
            padding: 15px;
            margin: 0;
        }
        .slick-slider {
            .slick-prev:hover, .slick-next:hover {
                opacity: 1;
            }
            .slick-prev {
                left: 0;
            }
            .slick-next {
                right: 0;
            }
            .slick-prev, .slick-next {
                z-index: 100;
                position: absolute;
                top: 40%;
                opacity: .6;
                transition: opacity .25s;
                cursor: pointer;

//                 text-align: center;
//                 color: #000;
//                 font-size: 2.5em;
//                 height: 40px;
//                 width: 40px;
//                 margin-top: -20px;
//                 color: #B7B7B7;

                svg {
                    width: 1em;
                }
            }
        //     max-width: 600px;
        //     margin: 0 auto;
        }
    }

}
#detail .product-images .thumb-nav.slick-slider .slick-prev, #detail .product-images .thumb-nav.slick-slider .slick-next {
//   font-size: 1.2em;
//   height: 20px;
//   width: 26px;
//   margin-top: -10px;
}
#detail .product-images .thumb-nav.slick-slider .slick-prev {
//   margin-left: -30px;
}
#detail .product-images .thumb-nav.slick-slider .slick-next {
//   margin-right: -30px;
}
#detail .product-images .thumb-nav li {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
#detail .product-images .thumb-nav li img {
  display: block;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  border: 4px solid transparent;
  -webkit-transition: border-color .25s;
  -ms-transition: border-color .25s;
  -moz-transition: border-color .25s;
  transition: border-color .25s;
}
#detail .product-images .thumb-nav li:hover, #detail .product-images .thumb-nav li:focus {
  border-color: #999;
}
#detail .product-images .thumb-nav li.slick-current img {
  border-color: $accent;
}



