{% extends 'base.html' %}

{% block title %}{{ 'Оренда автобуса з водієм, перевезення по Україні та Європі.' }}{% endblock %}

{% block content %}

<div class="banner" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="banner_img">
            <img src="/static/img/bus_2.jpg" alt="">
            <div class="in_banner">
                <h1>Оренда автобуса для комфортних та зручних поїздок по Україні та Європі</h1>
                <h2>Нерегулярні перевезення на замовлення.</h2>
<!--                <p>Замовлення автобуса</p>-->
                <p class="tel">093 123 45 67</p>
            </div>
        </div>
    </div>
</div>

<div class="dynamic">
    <div class="container">
        <div class="aboutus">
            <p>
                Наша компанія спеціалізується на наданні послуг оренди автобуса з водіями для нерегулярних перевезень
                по Україні та за її межами. Ми пропонуємо оренду автобуса як для короткострокових поїздок, так і для
                багатоденних маршрутів. За необхідності допомагаємо з організацією та плануванням поїздки та маршруту руху.
            </p>
            <p>
                Всі автобуси мають необхідні реєстраційні та дозвільні документи, акти технічного огляду а також
                страховку на транспорт та пасажирів. Ми пильно стежимо за дотриманням усіх вимог та стандартів
                безпеки, щоб ви могли насолоджуватися поїздкою. Маємо власну ремонтну базу, наші кваліфіковані
                технічні спеціалісти відповідають за регулярний технічний огляд та обслуговування автобусів.
            </p>
            <p>
                Маємо більше 20-ти років досвіду у сфері надання послуг з оренди автобусів для здійснення нерегулярних
                перевезень по Україні та Європі, та починали з одного автобуса в 1998 році.
            <br>
                Оренда автобуса з нами - це простий та зручний процес. Просто зв'яжіться з нашим менеджером, надайте
                нам деталі щодо вашої поїздки, включаючи дату, тривалість, кількість пасажирів та ваші особливі вимоги.
                Завдяки нашим досвідченим водіям і сучасному автопарку, ви можете бути впевнені, що ваша поїздка буде
                комфортною та безпечною.
            </p>
        </div>
    </div>
</div>

{% endblock %}
