<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href='/static/css/main.css'>
</head>
<body>
<!--  ===========    HEADER     ===============  -->
<div class="header">
    <div class="header-navbar">
        <nav class="navbar navbar-expand-md fixed-top"> <!-- bg-body-tertiary -->
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}">Leonid Pass</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav" onclick="myFunction(event)"> <!-- me-auto mb-2 mb-lg-0 -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">Про нас</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Автобуси
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('scania_49') }}">Scania Higer A80T</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('mers_57') }}">Mersedes-Benz Travego RHD-L</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('setra_53') }}">Setra S 416GT-HD</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('mers_53') }}">Mersedes-Benz Travego 0560</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('setra_49') }}">Setra S 415 HDH</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="in_drop">
<!--                        <hr>-->
<!--                        <p>Замовлення, інформація</p>-->
                        <div class="phone">
                            <a href="tel:+380677010956">
                                <img alt="Tel" src="/static/icon/phone-outline.svg">
                                +380 67 701 09 56
                            </a>
                        </div>
                        <div class="meseng">
                            <a target="_blank" href="viber://chat?number=380677010956">
                                <img alt="Viber" src="/static/icon/viber.svg">
                                 Viber
                            </a>
                            <a target="_blank" href="https://wa.me/+380677010956">
                                <img alt="Whatsapp" src="/static/icon/whatsapp.svg">
                                 WhatsApp
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--  ===========   CONTENT  ===============  -->
<div class="content">
    {% block content %}{% endblock %}
</div>
<!--  ===========   FOOTER   =============  -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="nav flex-column col-12 col-md-6 col-lg-4">
                <h5>Замовлення автобуса, інформація:</h5>
                <a href="tel:+380677010956">
                    <img alt="Tel" src="/static/icon/phone-outline.svg">
                     +380 67 701 09 56
                </a>
                <a target="_blank" href="mailto:leonid-pass@ukr.net">
                    <img alt="Email" src="/static/icon/gmail.svg">
                    leonid-pass@ukr.net
                </a>

            </div>
            <div class="nav flex-column col-12 col-md-6 col-lg-4">
                <a target="_blank" href="viber://chat?number=380677010956">
                    <img alt="Viber" src="/static/icon/viber.svg">
                     Viber
                </a>
                <a target="_blank" href="https://wa.me/+380677010956">
                    <img alt="Whatsapp" src="/static/icon//whatsapp.svg">
                     WhatsApp
                </a>
<!--                <a target="_blank" rel="nofollow" href="https://t.me/+380671234567">-->
<!--                    <img alt="Telegram" src="/static/icon/telegram.svg">-->
<!--                     Telegram-->
<!--                </a>-->
            </div>
<!--            <div class="col-12 col-md-12 col-lg-4">-->
<!--                <form>-->
<!--                    <h5>Subscribe to our newsletter</h5>-->
<!--                    <p>Monthly digest of what's new and exciting from us.</p>-->
<!--                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">-->
<!--                        <label for="newsletter1" class="visually-hidden">Email address</label>-->
<!--                        <input id="phone_call" type="text" class="form-control" placeholder="097 777 88 99">-->
<!--                        <button class="btn btn-primary" type="button">PHONE</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
        </div>
    </div>
    <hr>
    <div class="copir">
        <p>Leonid-Pass - автобусні перевезення</p>
    </div>
</div>



<!--=========== SCRIPT ===========-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="/static/css/general.js"></script>
</body>
</html>

