{% extends 'base.html' %}

{% block title %}{{ 'Оренда автобуса з водієм, перевезення по Україні та Європі.' }}{% endblock %}

{% block content %}

<div class="banner" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="banner_img">
            <img src="/static/img/bus_1.jpg" alt="">
            <div class="in_banner">
                <h1>Оренда автобуса для комфортних та зручних поїздок по Україні та Європі</h1>
                <h2>Нерегулярні перевезення на замовлення.</h2>
                <p>Замовлення автобуса</p>
                <p class="tel">093 123 45 67</p>
            </div>
        </div>
    </div>
</div>

<div class="dynamic">
    <div class="container">
        <p> Ми офіційний перевізник з власним автобусним парком від 49 до 57 пасажирських місць.
            Працюємо офіційно, маємо всі необхідні реєстраційні документи та дозволи а також міжнародну ліцензію на
            здійснення пасажирських перевезень.
        </p>
        <div class="row">
            <div class="item_card col-12 col-md-6">
                <div class="card">
                    <a href="/scania">
                    <img src="/static/img/bus_item_1.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h4 class="card-title">Scania Irizar 480</h4>
                        <div class="but">
                            <a href="/scania" class="btn btn-outline-dark">49 місць</a>
                            <a href="/scania" class="btn btn_detail">Детальніше</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="item_card col-12 col-md-6">
                <div class="card">
                    <a href="/mersedes">
                    <img src="/static/img/bus_item_2.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h4 class="card-title">Mersedes Travego 412HD 480</h4>
                        <div class="but">
                            <a href="/mersedes" class="btn btn-outline-dark">53 місця</a>
                            <a href="/mersedes" class="btn btn_detail">Детальніше</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <p> Наша компанія спеціалізується на наданні послуг оренди автобуса з водіями для нерегулярних
            перевезень по Україні та за її межами. Незалежно від того, чи ви плануєте туристичну подорож,
            трансфер, подорож у справах, на спортивні заходи чи з будь-якою іншою метою, ми забезпечимо вам
            високоякісний та зручний транспортний засіб та сервіс, який відповідатиме всім вашим потребам.
        </p>
    </div>
</div>



{% endblock %}