{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam amet, aperiam architecto assumenda
consectetur ducimus earum eligendi enim ex exercitationem facere laborum porro quae quasi quia quibusdam quos soluta,
    tempore totam unde ut voluptatibus! Ab aliquid asperiores aspernatur atque, culpa illum iure officia possimus
    quos rerum totam vitae, voluptate?
</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam amet, aperiam architecto assumenda
consectetur ducimus earum eligendi enim ex exercitationem facere laborum porro quae quasi quia quibusdam quos soluta,
    tempore totam unde ut voluptatibus! Ab aliquid asperiores aspernatur atque, culpa illum iure officia possimus
    quos rerum totam vitae, voluptate?
</p>
{% endblock %}