{% extends 'base.html' %}

{% block title %}{{ 'Оренда автобуса  Scania Higer A80T з водієм' }}{% endblock %}

{% block content %}

<div class="item">
    <div class="container">
        <div class="row">
<!-- Item photo block -->
            <div class="item_photo col-12 col-md-6">
                <section id="detail">
    <!-- Gallery Slider -->
                    <div class="product-images demo-gallery">
    <!-- image main -->
                        <div class="main-img-slider">

                            <a data-fancybox="gallery"
                               href="/static/photo/scania_49/scania_49_1.jpg"><img src="/static/photo/scania_49/scania_49_1.jpg" class="img-fluid">
                            </a>

                            <a data-fancybox="gallery"
                               href="/static/photo/scania_49/scania_49_2.jpg"><img src="/static/photo/scania_49/scania_49_2.jpg" class="img-fluid">
                            </a>

                        </div>
    <!-- thumb nav -->
                        <ul class="thumb-nav">

                            <li>
                                <img src="/static/photo/scania_49/scania_49_1.jpg">
                            </li>

                            <li>
                                <img src="/static/photo/scania_49/scania_49_2.jpg">
                            </li>

                        </ul>
                    </div>
                </section>
            </div>
<!-- Item info block -->
            <div class="item_info col-12 col-md-6">
                <h1>Оренда автобуса  Scania Higer A80T з водієм для перевезення по Україні та Європі.</h1>
                <table>
                    <tr>
                        <td class="btn_icon">49</td>
                        <td class="btn_text">Комфортних місць з відкидними спинками.</td>
                    </tr>
                    <tr>
                        <td class="btn_icon">2011</td>
                        <td class="btn_text">Рік виготовлення. Відмінний технічний стан. </td>
                    </tr>
                    <tr>
                        <td class="btn_icon">USB</td>
                        <td class="btn_text">Порти для гаджетів у кожного пасажира</td>
                    </tr>
                    <tr>
                        <td class="btn_icon">A/C</td>
                        <td class="btn_text">Кондиціонер та система кліматичного контролю</td>
                    </tr>
                    <tr>
                        <td class="btn_icon">WC</td>
                        <td class="btn_text">Туалет в автобусі та технічні зупинки</td>
                    </tr>
                    <tr>
                        <td class="btn_icon">TV</td>
                        <td class="btn_text">Відтворення Ваших відео записів з USB носіїв</td>
                    </tr>
                </table>
            </div>
<!-- Item content block -->
            <div class="item_content">
            <p>
                Ціну оренди автобуса розраховуєм виходячи з загального пробігу в кілометрах, від місця подачі і назад
                до місця подачі. Також на загальну вартість впливає маршрут, кількість днів оренди та простої автобусу.
                <br>
                Для замовлення автобуса Scania Higer A80T, підрахунку вартості оренди чи консультації звертайтесь за
                нашими контактними даними.
            </p>
        </div>
        </div>
    </div>
</div>

{% endblock %}