{% extends 'base.html' %}

{% block title %}{{ 'Оренда автобуса Scania Higer' }}{% endblock %}

{% block content %}

<div class="item">
    <h1>Оренда автобуса Scania Higer 480</h1>


    <!-- Item photo block -->
    <div class="item_photo col-12 col-md-6">
        <section id="detail">
    <!-- Gallery Slider -->
            <div class="product-images demo-gallery">
    <!-- image main -->
                <div class="main-img-slider">

                    <a data-fancybox="gallery"
                       href="/static/img/bus_item_1.jpg"><img src="/static/img/bus_item_1.jpg" class="img-fluid">
                    </a>
                    <a data-fancybox="gallery"
                       href="/static/img/bus_item_2.jpg"><img src="/static/img/bus_item_2.jpg" class="img-fluid">
                    </a>
                    <a data-fancybox="gallery"
                       href="/static/img/bus_1.jpg"><img src="/static/img/bus_1.jpg" class="img-fluid">
                    </a>
                    <a data-fancybox="gallery"
                       href="/static/img/bus_2.jpg"><img src="/static/img/bus_2.jpg" class="img-fluid">
                    </a>

                </div>
    <!-- thumb nav -->
                <ul class="thumb-nav">

                    <li>
                        <img src="/static/img/bus_item_1.jpg">
                    </li>
                    <li>
                        <img src="/static/img/bus_item_2.jpg">
                    </li>
                    <li>
                        <img src="/static/img/bus_1.jpg">
                    </li>
                    <li>
                        <img src="/static/img/bus_2.jpg">
                    </li>

                </ul>
            </div>
        </section>
    </div>

    <!-- Item info block -->
    <div class="item_info col-12 col-md-6">
        <h1>Оренда автобуса Scania Higer 480</h1>
        <p>Каталожний номер</p>
        <p>Ціна: по 1 коп</p>
        <br>
        <div class="item_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque dicta eligendi itaque nobis non quae? Dolore fugiat hic iusto mollitia quaerat quam quibusdam repudiandae suscipit vel! Consequatur eligendi enim libero nulla odio quia sapiente sed sint veniam voluptatem! Accusantium aut consectetur consequuntur dicta necessitatibus perferendis placeat quia rerum sequi!s</p>
        </div>
    <br>
    </div>

    <!-- Item content block -->


    <form name="form_phone" method="get" action="/scania">

        <input type="tel" id="inputPhone" name="inputPhone"
               pattern="^[+0-9]{1}[0-9]{9,12}$" placeholder="Введите ваш телефон">

        <button type="submit">SenD</button>
    </form>
    <br>
</div>

{% endblock %}